# **Importando e Exportando Dados**


* A biblioteca pandas fornece uma forma rápida e fácil para exportar os dados de um DataFrame para diferentes formatos.
* Entre os diversos formatos disponíveis, iremos focar no formato CSV (Comma-Separated Values, ou Valores Separados por Vírgulas).
* Para realizar essa tarefa, temos o método to_csv.
* Alguns dos parâmetros desse método são:
    * **path_or_buf**: caminho ou buffer onde o arquivo deve ser salvo.
    * **sep**: caractere separador do arquivo (o padrão é a vírgula).
    * **header**: define se os rótulos das colunas devem ser inseridos no arquivo ou não (padrão: True).
    * **index**: define se os rótulos das linhas devem ser inseridos no arquivo ou não (padrão: True).

# Exportando Dados

In [2]:
import pandas as pd

In [22]:
db = {'Nomes': {0: 'Cebolinha',
  1: 'Sandro',
  2: 'Fernando',
  3: 'Pedro',
  4: 'Konde',
  5: 'Cisco',
  6: 'Gerson',
  7: 'Manuela',
  8: 'Carla',
  9: 'Bruna'},
 'Idades': {0: 23,
  1: 20,
  2: 22,
  3: 32,
  4: 47,
  5: 18,
  6: 28,
  7: 25,
  8: 23,
  9: 18},
 'Profissão': {0: 'Engenheiro Cívil',
  1: 'Estudante',
  2: 'Estudante',
  3: 'Estudante',
  4: 'Músico',
  5: 'Estudante',
  6: 'Estudante',
  7: 'Comerciante',
  8: 'Cantora',
  9: 'Estudante'},
 'E-mail': {0: 'cebolinha@gmail.com',
  1: 'sandro_santos@gmail.com',
  2: 'fernandoFM@gmail.com',
  3: 'pedropp@gmail.com',
  4: 'konde@gmail.com',
  5: 'francisco@gmail.com',
  6: 'Gerson@gmail.com',
  7: 'manuela@gmail.com',
  8: 'carla@gmail.com',
  9: 'bruna@gmail.com'},
 'Sexo': {0: 'M',
  1: 'M',
  2: 'M',
  3: 'M',
  4: 'M',
  5: 'M',
  6: 'M',
  7: 'F',
  8: 'F',
  9: 'F'}}

# Lendo o dicionario como um DataFrame
df = pd.DataFrame(db)
df

       Nomes  Idades         Profissão                   E-mail Sexo
0  Cebolinha      23  Engenheiro Cívil      cebolinha@gmail.com    M
1     Sandro      20         Estudante  sandro_santos@gmail.com    M
2   Fernando      22         Estudante     fernandoFM@gmail.com    M
3      Pedro      32         Estudante        pedropp@gmail.com    M
4      Konde      47            Músico          konde@gmail.com    M
5      Cisco      18         Estudante      francisco@gmail.com    M
6     Gerson      28         Estudante         Gerson@gmail.com    M
7    Manuela      25       Comerciante        manuela@gmail.com    F
8      Carla      23           Cantora          carla@gmail.com    F
9      Bruna      18         Estudante          bruna@gmail.com    F

In [33]:
# Exportando para csv
dst = df.to_csv("Data_alunos.csv", index = False)

# **Importar dados**

* Para importar um arquivo CSV, a biblioteca pandas fornece a função read_csv.
* Alguns dos parâmetros desse método são:
    * **filepath_or_buffer**: caminho ou buffer até o arquivo CSV.
    * **sep**: caractere separador do arquivo (o padrão é a vírgula).
    * **names**: lista de rótulos para serem utilizados nas colunas.
    * **header**: linha do arquivo CSV para ser utilizada como rótulos para as colunas.
    * **index_col**: coluna do arquivo CSV para ser utilizada como rótulos para as linhas.

In [36]:
new_dts = pd.read_csv("Data_alunos.csv")
new_dts

       Nomes  Idades         Profissão                   E-mail Sexo
0  Cebolinha      23  Engenheiro Cívil      cebolinha@gmail.com    M
1     Sandro      20         Estudante  sandro_santos@gmail.com    M
2   Fernando      22         Estudante     fernandoFM@gmail.com    M
3      Pedro      32         Estudante        pedropp@gmail.com    M
4      Konde      47            Músico          konde@gmail.com    M
5      Cisco      18         Estudante      francisco@gmail.com    M
6     Gerson      28         Estudante         Gerson@gmail.com    M
7    Manuela      25       Comerciante        manuela@gmail.com    F
8      Carla      23           Cantora          carla@gmail.com    F
9      Bruna      18         Estudante          bruna@gmail.com    F