# Ordenando um DataFrame

In [35]:
import pandas as pd

* ### Um dataframe pode ser Ordenando utilizando o metodo **sort_values()**.

* ### O método **sort_values** possui alguns parâmetros:
    * #### **by**: string ou lista de strings especificando os rótulos que serão utilizados como chave para a ordenação.
    * #### **axis**: ordenação de linhas (padrão: 0) ou de colunas (1).
    * #### **ascending**: ordenação crescente ou decrescente (padrão: True).
    * #### **kind**: algoritmo de ordenação que será utilizado (padrão: quicksort).
    * #### **inplace**: define se a ordenação deve ser aplicada diretamente no DataFrame ou em uma cópia (padrão: False).

In [36]:
df = pd.read_csv("info_alunos2.csv")
df

       Nomes  Idades         Profissão                   E-mail Sexo
0  Cebolinha      23  Engenheiro Cívil      cebolinha@gmail.com    M
1     Sandro      20         Estudante  sandro_santos@gmail.com    M
2   Fernando      22         Estudante     fernandoFM@gmail.com    M
3      Pedro      32         Estudante        pedropp@gmail.com    M
4      Konde      47            Músico          konde@gmail.com    M
5      Cisco      18         Estudante      francisco@gmail.com    M
6     Gerson      28         Estudante         Gerson@gmail.com    M
7    Manuela      25       Comerciante        manuela@gmail.com    F
8      Carla      23           Cantora          carla@gmail.com    F
9      Bruna      18         Estudante          bruna@gmail.com    F

In [37]:
df.loc[1, "E-mail"] = "sandro@gmail.com"

## sort_values()

In [38]:
df.sort_values(by = ["Idades"], ascending = True, inplace=True) # organizando de ordem crescente
df

       Nomes  Idades         Profissão                E-mail Sexo
5      Cisco      18         Estudante   francisco@gmail.com    M
9      Bruna      18         Estudante       bruna@gmail.com    F
1     Sandro      20         Estudante      sandro@gmail.com    M
2   Fernando      22         Estudante  fernandoFM@gmail.com    M
8      Carla      23           Cantora       carla@gmail.com    F
0  Cebolinha      23  Engenheiro Cívil   cebolinha@gmail.com    M
7    Manuela      25       Comerciante     manuela@gmail.com    F
6     Gerson      28         Estudante      Gerson@gmail.com    M
3      Pedro      32         Estudante     pedropp@gmail.com    M
4      Konde      47            Músico       konde@gmail.com    M

In [39]:
df.sort_values(by = ["Sexo"],inplace = True)
df

       Nomes  Idades         Profissão                E-mail Sexo
9      Bruna      18         Estudante       bruna@gmail.com    F
8      Carla      23           Cantora       carla@gmail.com    F
7    Manuela      25       Comerciante     manuela@gmail.com    F
5      Cisco      18         Estudante   francisco@gmail.com    M
1     Sandro      20         Estudante      sandro@gmail.com    M
2   Fernando      22         Estudante  fernandoFM@gmail.com    M
0  Cebolinha      23  Engenheiro Cívil   cebolinha@gmail.com    M
6     Gerson      28         Estudante      Gerson@gmail.com    M
3      Pedro      32         Estudante     pedropp@gmail.com    M
4      Konde      47            Músico       konde@gmail.com    M

* Exemplo de ordenação com duas chaves.

In [40]:
df.sort_values(by = ["Sexo", "Idades"])

       Nomes  Idades         Profissão                E-mail Sexo
9      Bruna      18         Estudante       bruna@gmail.com    F
8      Carla      23           Cantora       carla@gmail.com    F
7    Manuela      25       Comerciante     manuela@gmail.com    F
5      Cisco      18         Estudante   francisco@gmail.com    M
1     Sandro      20         Estudante      sandro@gmail.com    M
2   Fernando      22         Estudante  fernandoFM@gmail.com    M
0  Cebolinha      23  Engenheiro Cívil   cebolinha@gmail.com    M
6     Gerson      28         Estudante      Gerson@gmail.com    M
3      Pedro      32         Estudante     pedropp@gmail.com    M
4      Konde      47            Músico       konde@gmail.com    M

## sort_index()

In [45]:
df.sort_index(axis = 1, inplace=True)
df

                 E-mail  Idades      Nomes         Profissão Sexo
9       bruna@gmail.com      18      Bruna         Estudante    F
8       carla@gmail.com      23      Carla           Cantora    F
7     manuela@gmail.com      25    Manuela       Comerciante    F
5   francisco@gmail.com      18      Cisco         Estudante    M
1      sandro@gmail.com      20     Sandro         Estudante    M
2  fernandoFM@gmail.com      22   Fernando         Estudante    M
0   cebolinha@gmail.com      23  Cebolinha  Engenheiro Cívil    M
6      Gerson@gmail.com      28     Gerson         Estudante    M
3     pedropp@gmail.com      32      Pedro         Estudante    M
4       konde@gmail.com      47      Konde            Músico    M